.page {
  background-color: #2A2C2F;
  font-family: "Inter", serif;
  font-weight: normal;
  font-style: normal;
  position:relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "lead"
  "intro"
  "photo-grid"
  "places"
  "cover"
  "footer";
}

  
