.place__image{
    max-height: 460px;
    max-width: 460px;
    grid-area: place__image;
    justify-self: center;
}
@media screen and (min-width:769px) and (max-width: 1024px){
    .place__image{
        max-height: 440px;
        max-width: 440px;}
  }
  @media screen and (min-width:426px) and (max-width: 768px){
    .place__image{
        max-height: 340px;
        max-width: 340px;}
  }

  @media screen and (min-width:320px) and (max-width: 425px){
    .place__image{
        max-height: 320px;
        max-width: 320px;}
  }
